<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>

<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>
    <main class="mt-4">
        <div class="jumbotron bg-info text-white w-40 m-auto py-3">
            <h2>Delete Goal!</h2>
            <form th:action="@{/goals/delete/{id}(id=${bindingModel.id})}" method="post" th:object="${bindingModel}">
                <th:block th:include="~{fragments/goals-form}"></th:block>
            </form>
            <script>
                $("input").prop("readonly", true);
                $("textarea").prop("readonly", true);
                $("select").parent().remove();
                $("button").text("Delete!");
            </script>
        </div>
    </main>
    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>